<h2 class="text-center">Lista de Linguagens</h2>
<div class="wrapper-profissao"
	ng-controller="LinguagemCtrl as crtl">
	<div class="row">
		<div class="col-md-12 text-right">
			<button class="btn btn-primary " ng-click="getLinguagens()">Carregar Linguagens</button>
		</div>
	</div><br />
	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<div class="panel panel-default">
					<div class="panel-heading">Cargos</div>

					<div class="panel-body">
						<table class="table table-bordered table-striped table-hover">
							<thead>
								<tr>
									<th>Descrição</th>
									<th>Sigla</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="ling in linguagens">
									<td>{{ling.dsLinguagem}}</td>
									<td>{{ling.sgLinguagem}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


